<link rel="import" href="../polymer/polymer.html">

<!--
`test-element`
Test element

@demo demo/index.html 
-->

<dom-module id="test-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]</h2>
  </template>

  <script>
    Polymer({

      is: 'test-element',

      properties: {
        prop1: {
          type: String,
          value: 'test-element',
        },
      },

    });
  </script>
</dom-module>
